{%  extends "base.html.twig" %}

{% block body %}
        {% set parameters = app.session.get('parameters') %}
        <!-- ### $App Screen Content ### -->
        <main class='main-content bgc-grey-100'>
            {% for message in app.flashes("error") %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erreur</strong> {{ message }}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes("success") %}
        <div class="alert alert-success alert-dismissible fade show " role="alert">
            <strong>Succès</strong> {{ message }}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div id="js-message"></div> 
          <div id='mainContent'>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <div class="row mT-10">
                            <div class="col-md-8">
                                <h4 class="c-grey-900 mB-20">{{ ressource.RessourceTitre }}</h4>
                            </div>
                            {% if is_granted("ROLE_ADMIN") %} 
                            <div class="col-md-4  text-right">
                                <div class="form-group">
                                    <button type="button" id="modifRessourceContent" class="btn btn-primary">Modifier</button>
                                    <button type="button" id="consultRessourceContent" style="display:none" class="btn btn-primary">Consulter</button>
                                    <button type="button" id="deleteRessource" ressource="{{ ressource.RessourceId }}" class="btn btn-primary">Supprimer</button>
                                </div>
                            </div>
                            {% endif %}
                            <div id="messageConfirmDeleteRessource"></div>
                        </div>
                        <hr class="my-4">
                        {#ConsultBlock#}
                        <div id="consultBlock">
                            <div class="container my-4">
                                <h6>{{ ressource.RessourceTitre }}</h6>
                                <p class="font-italic">{%if ressource.RessourceQuestion %}{{ ressource.RessourceQuestion }}{% endif %}</p>
                                <p>{%if ressource.RessourceDesc %}{{ ressource.RessourceDesc }}{% else %}- Pas de contenu -{% endif %}</p>
                                {% if files %}
                                    {% if files|length == 1 %}
                                        {% for file in files %}
                                            <p><strong>Fichier ressource : </strong><a href="{{parameters['URL_FOLDER_FILES']}}/{{file.lRefmFileManager.fileManagerUri}}">
                                                {% if file.nomFichier != "" %}
                                                    {{ file.nomFichier }}
                                                {% else %}
                                                    {{ file.lRefmFileManager.fileManagerNom }}
                                                {% endif %}</a></p>
                                        {% endfor %}
                                    {% else %}
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Fichiers ressources</th>
                                                <!--th scope="col">Taille</th>
                                                <th scope="col">Date</th-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for file in files %}
                                            <tr>
                                                <td><a href="{{parameters['URL_FOLDER_FILES']}}/{{file.lRefmFileManager.fileManagerUri}}">
                                                    {% if file.nomFichier != "" %}
                                                        {{ file.nomFichier }}
                                                    {% else %}
                                                        {{ file.lRefmFileManager.fileManagerNom }}
                                                    {% endif %}
                                                </a></td>
                                                <!--td>{{file.lRefmFileManager.FileManagerSize}}</td>
                                                <td>{{file.lRefmFileManager.FileManagerDate|date("m/d/Y") }}</td-->
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                {% endif %}
                                {#% if ressource.RessourceLogo %}
                                    <p><strong>Logo : </strong><a href="{{parameters['URL_FOLDER_FILES']}}/{{ressource.RessourceLogo.FileManagerUri}}">{{ ressource.RessourceLogo.FileManagerNom }}</a></p>
                                {% endif %#}
                            </div>
                        </div>
                        {#ModifBlock#}
                        <div id="modifBlock" style="display:none">
                            <div class="container my-4">
                                <input class="form-control collapse" id="ressourceId" value="{{ ressource.RessourceId }}">
                                
                                <label class="mT-20" for="ressourceTitre">Titre</label>
                                <input class="form-control ressourceRequired" id="ressourceTitre" required value="{{ ressource.RessourceTitre }}">
                                
                                <label class="mT-20" for="ressourceQuestion">Question</label>
                                <textarea id="ressourceQuestion" class="font-italic form-control ressourceRequired" required>{%if ressource.RessourceQuestion %}{{ ressource.RessourceQuestion }}{% endif %}</textarea>
                                
                                <label class="mT-20" for="ressourceDesc">Description</label>
                                <textarea  id="ressourceDesc" class="form-control ressourceRequired" required>{%if ressource.RessourceDesc %}{{ ressource.RessourceDesc }}{% else %}- Pas de contenu -{% endif %}</textarea>
                            
                                <div class="row">
                                    <div class="col-12 mT-10 mB-10">
                                        <label class="mT-20" for="addFaqDoc">Documentation</label>
                                        <button type="button" class="btn btn-primary cur-p" id='addDocRessource'>Ajouter un document</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mT-10 mB-10">
                                        <table id="dataTableDocumentsRessource" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                            <th>Id</th>
                                            <th>Titre</th>
                                            <th>Fichiers ressources</th>
                                            <th>ressource_file_action</th>
                                            <th>ressource_file_name</th>
                                            <th>ressource_file_size</th>
                                            <th>ressource_file_url</th>
                                            <th style="min-width:100px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for file in files %}
                                            <tr>
                                            <td id ="ressourceId">{{file.lRefmId}}</td>
                                            <td>{{file.nomFichier}}</td>
                                            {% if file.lRefmFileManager %}
                                                <td><a href="{{parameters['URL_FOLDER_FILES']}}/{{file.lRefmFileManager.FileManagerUri}}" download>
                                                    {% if file.nomFichier != "" %}
                                                        {{ file.nomFichier }}
                                                    {% else %}
                                                        {{ file.lRefmFileManager.fileManagerNom }}
                                                    {% endif %}
                                                </a></td>
                                                <td>loaded</td>
                                                <td>{{file.lRefmFileManager.fileManagerNom}}</td>
                                                <td>{{file.lRefmFileManager.fileManagerSize}}</td>
                                                <td>{{file.lRefmFileManager.fileManagerUri}}</td>
                                            {% else %}
                                            <td></td><td></td><td></td><td></td><td></td>
                                            {% endif %}
                                            <td>
                                                <a class="modify" ><i class="c-light-blue-500 cur-p ti ti-pencil"></i></a>
                                                <a class="remove"><i class="c-red-500 cur-p ti ti-trash"></i></a>
                                            </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                {#{% if files %}#}
                                    <!--table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" hidden>Id</th>
                                                <th scope="col" hidden>OldId</th>
                                                <th scope="col" hidden>nom</th>
                                                <th scope="col">Fichiers ressources</th>
                                                <th scope="col">Taille</th>
                                                <th scope="col">Date</th>
                                                <th scope="col" style="display:none">Url</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="filesBody">
                                        {#% if files %}
                                            {% for file in files %}
                                                <tr class="ressourceDocumentation">
                                                    <td id="ressourceDocId{{file.FileManagerId}}" class="docId" hidden>{{file.FileManagerId}}</td>
                                                    <td id="ressourceDocOldId{{file.FileManagerId}}" class="docOldId" hidden>{{file.FileManagerId}}</td>
                                                    <td id="ressourceDocTitre{{file.FileManagerId}}" class="docNom" hidden>{{ file.FileManagerNom }}</td>
                                                    <td id="ressourceDocLink{{file.FileManagerId}}" class="docLink" ><a href="{{parameters['URL_FOLDER_FILES']}}/{{file.FileManagerUri}}">{{ file.FileManagerNom }}</a></td>
                                                    <td id="ressourceDocPoids{{file.FileManagerId}}" class="docPoids" >{{file.FileManagerSize}}</td>
                                                    <td id="ressourceDocDate{{file.FileManagerId}}" class="docDate" >{{file.FileManagerDate|date("m/d/Y") }}</td>
                                                    <td id="ressourceDocUrl{{file.FileManagerId}}" class="docUrl" style="display:none"></td>
                                                    <td>
                                                        <button id="editDocRessource" class="btn btn-warning cur-p editDocRessource" docId="{{file.FileManagerId}}"><i class="ti ti-pencil"></i></button>
                                                        <button id="removeDocRessource" class="btn btn-danger cur-p removeDocRessource" docId="{{file.FileManagerId}}"><i class="ti ti-trash"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %#}
                                        </tbody>
                                    </table-->
                                {#{% endif %}#}
                                </div>
                                {#Logo Insert#}
                                <div class="row">
                                    <div class="col-12">
                                        <label class="mT-20" for="addRessourceLogo">Logo</label>
                                        {% if ressource.RessourceLogo %}
                                            <div class="row mT-10">
                                                <div class="col-md-3" style="display:none">
                                                    <input type="hidden" id="ressourceLogoId" class="ressource" value="{{ ressource.RessourceLogo.fileManagerId }}">
                                                    <input type="hidden" id="ressourceLogoTitre" class="ressource" value="{% if ressource.RessourceLogo.fileManagerNom %}{{ ressource.RessourceLogo.fileManagerNom }}{% endif %}">
                                                    <input type="hidden" id="ressourceLogoURL" class="ressource" value="{% if ressource.RessourceLogo.fileManagerUri %}{{ ressource.RessourceLogo.fileManagerUri }}{% endif %}">
                                                    <input type="hidden" id="ressourceLogoPoids" class="ressource" value="{% if ressource.RessourceLogo.fileManagerSize %}{{ ressource.RessourceLogo.fileManagerSize }}{% endif %}">
                                                </div>
                                                <div class="col-md-3" id="ressourceLogoDownload">
                                                    <a href="{{parameters['URL_FOLDER_FILES']}}{{ ressource.RessourceLogo.fileManagerUri }}">{{ ressource.RessourceLogo.fileManagerNom }}</a>
                                                </div>
                                                <div class="col-md-6">
                                                    <button id="editLogoRessource" class="btn btn-warning cur-p">
                                                        <i class="ti ti-pencil"></i>
                                                    </button>
                                                    <button id="removeLogoRessource" class="btn btn-danger cur-p">
                                                        <i class="ti ti-trash"></i>
                                                    </button>
                                                </div>
                                            </div>    
                                        {% else %}
                                            <button id="addLogoRessource" class="btn btn-success cur-p" >
                                                <i class="ti ti-plus"></i>
                                            </button>
                                            <div class="row mT-10">
                                                <div class="col-md-3">
                                                    <input type="hidden" id="ressourceLogoId" class="ressource" value="">
                                                    <input type="hidden" id="ressourceLogoTitre" class="ressource" value="">
                                                    <input type="hidden" id="ressourceLogoURL" class="ressource" value="">
                                                    <input type="hidden" id="ressourceLogoPoids" class="ressource" value="">
                                                </div>
                                                <div class="col-md-3" id="ressourceLogoDownload"></div>
                                                <div class="col-md-6">
                                                    <button id="editLogoRessource" class="btn btn-warning cur-p" style="display:none">
                                                        <i class="ti ti-pencil"></i>
                                                    </button>
                                                    <button id="removeLogoRessource" class="btn btn-danger cur-p" style="display:none">
                                                        <i class="ti ti-trash"></i>
                                                    </button>
                                                </div>
                                            </div> 
                                        {% endif %}
                                    </div>
                                </div>
                                
                                <label class="mT-20" for="ressourceNumOrdre">Numéro d'ordre</label>
                                <input class="form-control" type="number" id="ressourceNumOrdre" value="{{ ressource.RessourceNumOrdre }}">
                            </div>
                            <div class="my-4 text-center">
                                <button type="button" id="validationRessourceContent" class="btn btn-secondary">Valider</button>
                            </div>
                        </div>
                        <div id="messageConfirmModifRessource"></div>
                    </div>
                    {#ModalDocumentation#}
                    <div class="modal" id="modalRessourceFile" tabindex="-1" role="dialog" aria-labelledby="modalFaqFile" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Documents</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input id="ressourceDocFileId" name="ressourceDocFileId" value="" style="display:none"/>
                                    <input id="document_ressource_file_action" type="hidden" class="form-control form-document-ressource" />
                                    <input id="document_ressource_file_name" type="hidden" class="form-control form-document-ressource" />
                                    <input id="document_ressource_file_size" type="hidden" class="form-control form-document-ressource" />
                                    <input id="document_ressource_file_url" type="hidden" class="form-control form-document-ressource" />
                                    <label class="mT-20" for="ressourceDocFileTitre">Titre*</label>
                                    <input class="form-control mB-10 form-document-ressource" id="ressourceDocFileTitre" required>
                                    <label>Document : </label>
                                    <form id="addRessourceDoc" name="addRessourceDoc" action="{{path('insertFaqFile')}}" class="dropzone" method="post" enctype="multipart/form-data">
                                        <div class="fallback">
                                            <input id="add_ressource_doc" name="add_ressource_doc" type="file"/>
                                        </div>
                                    </form>
                                    <div id="messageErreurModifRessource"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary cur-p" data-dismiss="modal">Annuler</button>
                                    <button type="button" id="saveRessourceDoc" class="btn btn-success cur-p">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#Modal Logo#}
                    <div class="modal" id="modalRessourceLogo" tabindex="-1" role="dialog" aria-labelledby="modalRessourceLogo" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Logo de présentation de la ressource</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label for="addFaqDoc">Logo : </label>
                                    <input id="ressourceLogoId" name="ressourceLogoId" value="" style="display:none"/>
                                    <form id="addRessourceLogo" name="addRessourceLogo" action="{{path('insertRessourceLogo')}}" class="dropzone" method="post" enctype="multipart/form-data">
                                        <div class="fallback">
                                            <input id="add_ressource_logo" name="add_ressource_logo" type="file"/>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary cur-p" data-dismiss="modal">Annuler</button>
                                    <button type="button" id="saveRessourceLogo" class="btn btn-success cur-p">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </main>

{% endblock body %}