{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="peers ai-s fxw-nw h-100vh">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image:  url("{{ asset('assets/images/bg.jpg') }}")'>
        </div>
        <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px;'>
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock fos_user_content %}