<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
        <!--title>{#% block title %}POPP Bretagne - Plateforme des Observatoires Photographiques du Paysage de Bretagne{% endblock %#}</title-->
        <title>{% block title %}POPP - Plateforme des Observatoires Photographiques du Paysage{% endblock %}</title>
        <!--<link rel="stylesheet" href="{{ asset('assets/app.css') }}" />-->


        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
            <style>
                a{
                    color:#fe7108
                }
                a:hover, a:active, a:focus{
                    color:#ffa766
                }
                #loader {
                    transition: all 0.3s ease-in-out;
                    opacity: 1;
                    visibility: visible;
                    position: fixed;
                    height: 100vh;
                    width: 100%;
                    background: #fff;
                    z-index: 90000;
                }

                #loader.fadeOut {
                    opacity: 0;
                    visibility: hidden;
                }

                .spinner {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: calc(50% - 20px);
                    left: calc(50% - 20px);
                    background-color: #333;
                    border-radius: 100%;
                    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
                    animation: sk-scaleout 1.0s infinite ease-in-out;
                }

                @-webkit-keyframes sk-scaleout {
                    0% { -webkit-transform: scale(0) }
                    100% {
                        -webkit-transform: scale(1.0);
                        opacity: 0;
                    }
                }

                @keyframes sk-scaleout {
                    0% {
                        -webkit-transform: scale(0);
                        transform: scale(0);
                    } 100% {
                          -webkit-transform: scale(1.0);
                          transform: scale(1.0);
                          opacity: 0;
                      }
                }
                #message {
                    display:none;
                    background: #f1f1f1;
                    color: #000;
                    position: relative;
                    padding: 10px;
                    margin-top: 10px;
                    border-radius: 4px;
                }
            </style>
        {% endblock %}
    </head>
    <body class="app">
        <!-- @TOC -->
        <!-- =================================================== -->
        <!--
        + @Page Loader
        + @App Content
            - #Left Sidebar
                > $Sidebar Header
                > $Sidebar Menu

            - #Main
                > $Topbar
                > $App Screen Content
        -->

        <!-- @Page Loader -->
        <!-- =================================================== -->
        <div id='loader'>
            <div class="spinner"></div>
        </div>

        <div class="peers ai-s fxw-nw h-100vh">
            <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image:  url("{{ asset('assets/images/bg.jpg') }}")'>
            </div>

            <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px'>
                <div class="login_wrapper">
                    <div class="animate form login_form">
                        <h4 class="fw-300 c-grey-900 mB-40">CHANGER VOTRE MOT DE PASSE</h4>
                        <input type="hidden" id="userId" name="userId" value="{{ app.user.id }}" />
                        <div class="form-group">
                            <label class="text-normal text-dark">Mot de passe :</label>
                            <input class="form-control" type="password" id="plainPassword_first" name="password1" required />
                            <span class="formErrors"></span>
                        </div>
                        <div class="form-group">
                            <label  class="text-normal text-dark">Confirmation du mot de passe :</label>
                            <input class="form-control" type="password" id="plainPassword_second" name="password2" required/>
                            <span class="formErrors"></span>
                        </div>

                        <button class="btn cur-p btn-outline-warning" id="btnSaveNewPassword">
                            Enregistrer
                        </button>
                        <div class="clearfix"></div>
                        
                        <div id="message">
                            <h5>Votre mot de passe doit contenir :</h5>
                            <ul>
                                <!--li id="letter" class="invalid">au moins une lettre <b>minuscule</b></li>
                                <li id="capital" class="invalid">au moins une lettre <b>majuscule</b></li>
                                <li id="number" class="invalid">au moins un <b>chiffre</b></li-->
                                <li id="length" class="invalid">au minimum <b>6 caractères</b></li>
                            </ul>
                        </div>
                        {# On affiche le message d'erreur s'il y en a un #}
                        <div id="alerte" name="alerte" class="alert"></div>
                    </div>
                </div>
            </div>
        </div>
                    
                   
        <!--<script src="{{ asset('assets/app.js') }}"></script> -->

            {{ encore_entry_script_tags('app') }}
        <script>
            (function() {
                /*if('serviceWorker' in navigator) {
                    navigator.serviceWorker.register('assets/service-worker.js');
                }*/
            })();

            window.addEventListener('load', () => {
                const loader = document.getElementById('loader');
                setTimeout(() => {
                    loader.classList.add('fadeOut');
                }, 300);
            });
        </script>


    </body>
</html>

