<!DOCTYPE html>
<html lang="en">
    {% set parameters = app.session.get('parameters') %}
  <head>
  </head>

    <body>
        <p>Bonjour {{user.Prenom}},</p>
        <p>
            <div>Merci d'avoir rejoint la {{parameters.APP_NAME}}.</div>
            <div>Votre compte a été activé, vous pouvez maintenant vous connecter sur la popp {{ url('app_login') }}</div><br/>
            <a href='{{ url('app_login') }}'>Accès à la {{parameters.APP_NAME}}</a>
            <br/>
        </p>
        <p>  
            <div>Cordialement,</div>
            <div>L'équipe {{parameters.APP_NAME}}.</div>
        </p>
    </body>
</html>



