
<!DOCTYPE html>
<html lang="en">
    {% set parameters = app.session.get('parameters') %}
  <head>
  </head>

    <body>
        <p>Bonjour {{user.Prenom}} {{user.Nom}},</p>
        <p>
            <div>Votre demande de réinitialisation de mot de passe a été traitée avec succès.</div>
            <div>Votre nouveau mot de passe est : {{password}}</div>
            <br/>
        </p>
        <p>
            <div>Rendez-vous sur le site de la POPP et connectez-vous avec ce nouveau mot de passe.</div>
            <div>A la première connexion, il vous sera demandé de le changer.</div>
            <div>Rendez vous ici {{ app.session.get('parameters')['URL_POPP'] }}</div><br/>
            <a href='{{ url('app_login') }}'>Accès à la {{parameters.APP_NAME}}</a>
            <br/>
        </p>
        <p>  
            <div>Cordialement,</div>
            <div>L'équipe {{parameters.APP_NAME}}.</div>
        </p>
    </body>
</html>

